{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %} 
<br/><h3 align="center">About Me</h3>
 <div class ="lead">
<p>My name is Kamal Mustapha, friends call me The General.</p>
<p>
        I am a software engineer, currently getting certification at Altschool Africa, I am on my journey to becoming world class.
      </p>
      <p>
        I am a student of AltSchool Africa School of Engineering. Presntly in my 6th month, I have learnt so much, including basic HTML and CSS. I have learn client side JavaScript, I have learnt Python and connecting with database from Flask App. I applied all these knowledge in building this blog from scratch. 
      </p>
      <p>I have created several projects and I have collaborated in several Open Source projects over the months. You can check out by github profile <span><a href="https://github.com/The-General1">here.</a></span></p>
      <p>Check out this blog and feel free to suggest how to improve it.</p>
    
      </div>    
  
  
{% endblock %}