{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}<br/>
<h4 align="center">Create Post</h4><br/>
<form method="POST">
  <textarea
    name="text"
    id="text"
    class="form-control"
    placeholder="What is on your mind?"
  ></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="submit" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{% endblock %}
